{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}تغيير كلمة المرور{% endblock %}

{% block page_title %}
تغيير كلمة مرور المستخدم: {{ user_obj.username }}
{% endblock %}

{% block content %}

<div class="card">
    <div class="card-header text-white bg-warning">
        تنبيه: أنت تقوم بتغيير كلمة مرور هذا المستخدم.
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <hr>
            <button type="submit" class="btn btn-warning">تغيير كلمة المرور</button>
            <a href="{% url 'user_edit' pk=user_obj.pk %}" class="btn btn-secondary">إلغاء</a>
        </form>
    </div>
</div>

{% endblock %}